<!doctype html>
<html lang="en">
  <head>
    <title>
        Smart Attendance System
    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <%- include("./Components/ImportCssFiles"); %>
  </head>
  <body>

    <!-- Embed NavBar Component -->
    <%- include("./Components/NavBar"); %>

    <!-- Embed Breadcrumb Component -->
    <%
    var BreadcrumbData = [
                            {
                                "PageName": "Home",
                                "PageLink": "/",
                            },
                            {
                                "PageName": "Sign In",
                                "PageLink": "/signin",
                            },
                            {
                                "PageName": "Admin Dashboard",
                            }
                        ];
    %>
    <%- include("./Components/Breadcrumb", {BreadcrumbData: BreadcrumbData}); %>
    
    <!-- Current Page Body -->
    <div id="page-body-div">
        <h1>
            Admin Dashboard
        </h1>
    </div>

    <!-- Embed Footer Component -->
    <%- include("./Components/Footer"); %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <%- include("./Components/ImportJavascriptFiles"); %>
  </body>
</html>