<!doctype html>
<html lang="en">
  <head>
    <title>
        Smart Attendance System
    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <%- include("./Components/ImportCssFiles"); %>
  </head>
  <body>

    <!-- Embed NavBar Component -->
    <%- include("./Components/NavBar"); %>

    <!-- Embed Breadcrumb Component -->
    <%
    var BreadcrumbData = [
                            {
                                "PageName": "Home",
                                "PageLink": "/",
                            },
                            {
                                "PageName": "Sign In",
                                "PageLink": "/signin",
                            },
                            {
                                "PageName": "Password Reset",
                            }
                        ];
    %>
    <%- include("./Components/Breadcrumb", {BreadcrumbData: BreadcrumbData}); %>
    
    <!-- Current Page Body -->
    <div id="page-body-div">
        <div class="container py-3 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9">
                    <div class="card shadow-2-strong card-registration bg-dark" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5">
                            <h2 class="mb-4 pb-2 pb-md-0 mb-md-5 text-primary font-weight-bold">PASSWORD RESET FORM</h2>
                            
                            <form id="password-reset-form" class="text-light" action="password-reset" method="POST">
                                <div class="row">
                                    <!-- Embed UsernamePassword Component -->
                                    <%
                                    var TagNamePrefixData = "password-reset-";
                                    %>
                                    <%- include("./Components/UsernamePassword", {TagNamePrefixData: TagNamePrefixData}); %>
                                </div>
                
                                <div class="mt-4 pt-2 text-right">
                                    <input class="btn btn-primary btn-outline-light btn-lg font-weight-bold" type="submit" value="RESET PASSWORD" />
                                </div>

                                <div class="mt-2 mt-lg-0 text-left float-left">
                                    Remember Your Password? 
                                    <a href="/signin" class="btn btn-primary btn-outline-light btn-sm font-weight-bold">
                                        SIGN IN
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Embed Footer Component -->
    <%- include("./Components/Footer"); %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <%- include("./Components/ImportJavascriptFiles"); %>
  </body>
</html>